.Bookstore-CMS-App {
  width: 1600px;
  height: 1434px;
  padding: 149px 60px 123px 100px;
  background-color: var(--pale-grey);
}

.panel-bg {
  width: 1400px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: #ffffff;
}

.panel-books {
  width: 1400px;
  background-color: #ffffff;
  margin-left: 7%;
}

.book-row {
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 37px 0 0;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.book-card {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.book-title {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
  font-family: RobotoSlab;
}

.book-cat {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-Author {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-mnu-item {
  font-family: RobotoSlab;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  background: transparent;
  border-style: none;
  padding: 0;
  margin-right: 7px;
  margin-top: 13px;
  font-size: 14px;
}

.book-percent {
  width: 25%;
  display: flex;
  flex-direction: row;
}

.Book-current-ch {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.current-head {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  font-family: RobotoSlab;
} 

.current-ch-name {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
  margin-top: 0;
}

.current-ch-update {
  width: 184px;
  height: 33px;
  margin: 12px 0 9px 0;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color:  #0290ff;
  font-size: 13px;
  font-family: RobotoSlab;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  align-content: ;
}

.current-btn-txt {
  margin: 0;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  margin: 6px 47px 2px 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS {
  height: 16px;
  margin: 18px 41px 11px 0;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  height: 16px;
  margin: 18px 664px 11px 41px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.Oval {
  width: 45px;
  height: 45px;
  margin: 0 0 0 664px;
  padding: 14px;
  border: solid 1px #e8e8e8;
}

.Mask {
  width: 17px;
  height: 17px;
  background-color: var(--azure);
}

.newbook-heading {
  width: 174px;
  margin: 29px 524px 19px 0;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888888;
  height: 24px;
}

.new-book {
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 37px 0 0;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--pinkish-grey);
}

.new-title {
  width: 100PX;
  height: 17px;
  margin: 19px 34px 0 0;
  padding: 13px 571px 13px 17px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.new-category {
  width: 285px;
  height: 45px;
  margin: 19px 34px 0;
  padding: 6px 15px 9px 16px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.new-submit {
  width: 184px;
  height: 45px;
  margin: 18px 0 9px 0;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color:  #0290ff;
  font-size: 13px;
  font-family: RobotoSlab;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  align-content: ;
}